body {
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
}

form {
    padding: 25px;
    background-color: #7FCDCD;
    margin: 25px;
}

h1 {
    color: white;
    text-align: center;
}