body {
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
}

h2 {
    padding: 10px;
    margin: 20px;
}


.img-fluid {
    margin: 10px;
    width: 350px;
    height: 350px;
}