body {
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
}
.content {
    background-color:white;
    margin: 10px;
    padding: 10px;
}

img {
    width: 220px;
    height: 250px;
    float: left;
    margin: 10px;
}

.card-header {
    color: #7FCDCD
}

.Contact-Info {
    background-color: white;
}